<h1>Specific user page</h1>

<p>Keep track of your friends birthdays here</p>

<% @user.friends.each do |friend| %>
  <li><%= link_to friend.name, friend_presents_path(friend) %>
      <%= friend.birthday %>
  </li>
<% end %>